# virtual environment folder
venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# database files
*.sqlite3

.env

# IDE-specific files
.vscode/
.idea/

# 
spotify/__init__.py
spotify/__pycache__

migrations
analysis/__init__.py
analysis/__pycache__